---
layout: page
description: "Viifo's Blog"
---
{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url }}">
        <!-- 优先展示系列标题 -->
        {% if post.series %}
        <h1>{{ post.series }}</h1>
        {% else %}
        <h1>{{ post.title }}</h1>

        <!-- 非系列文章才展示 subtitle -->
        {% if post.subtitle %}
        <h2>{{ post.subtitle }}</h2>
        {% endif %}

        {% endif %}
        <p class="brief">{{ post.content | strip_html | strip_newlines | truncate:200 }}</p>
    </a>
    {% if post.tags %}
    <p class="tags">
        {% for tag in post.tags %}
        <a href="{{ site.url }}/tag?flag={{ tag | url_encode }}">
            <i class="fa fa-tags"></i>{{ tag }}
        </a>
        {% endfor %}
    </p>
    {% endif %}
    <p class="attach-info">
        {% if post.update %}
        作者 {{ post.author }} 更新于 {{ post.date | date: "%Y年%m月%d日" }}
        {% else %}
        作者 {{ post.author }} 发布于 {{ post.date | date: "%Y年%m月%d日" }}
        {% endif %}
    </p>
</div>
<hr>
{% endfor %}