// 设置滚动条的样式
::-webkit-scrollbar {
  height: 9px;
  background-color: $code-background;
  border-radius: 5px;
}
// 滚动条滑块
::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb;
  border-radius: 5px;
}
::-webkit-scrollbar-button {
  width: 0;
}
//// 滚动条上的按钮--水平滚动条向左
//::-webkit-scrollbar-button:horizontal:decrement {
//  width: 10px;
//  background: url("../images/icons.png") -17px -10px no-repeat;
//}
//// 滚动条上的按钮--水平滚动条向右
//::-webkit-scrollbar-button:horizontal:increment {
//  width: 10px;
//  background: url("../images/icons.png") -10px -10px no-repeat;
//}

.post-content {
  h1 {
    margin-top: 80px;
    border-bottom: 1px solid $hr-color;
    padding-bottom: 5px;
    font-size: 28px;
  }
  h2 {
    margin-top: 80px;
    font-size: 24px;
    font-weight: bold;
  }
  h3 {
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
  }
  h4,h5,h6 {
    margin-top: 20px;
    font-size: 18px;
  }
  div.highlighter-rouge {
    background: $code-background;
    border-radius: 5px;
    margin-bottom: 30px;
    .copy-icon {
      width: 35px;
      height: 35px;
      float: right;
      background: $code-copy-background;
      color: $code-copy-color;
      padding: 5px;
      border-radius: 3px;
      cursor: pointer;
      display: none;
      border: none;
    }
    &:hover .copy-icon {
      display: block;
    }
  }
  div.highlight {
    padding: 0 5px;
  }
  pre.highlight {
    margin-top: 10px;
    border: none !important;
    background: $code-background;
    padding: 10px;
    font-size: 14px;
  }
  img {
    border-radius: 5px;
    max-width: 100%;
    user-select: none;
  }
  .post-img-title {
    color: $brief;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid $hr-color;
  }
  p {
    margin-top: 20px;
  }
  pre {
    // 代码行号
    .line::before {
      border-right: 1px solid $code-line-border;
      color: $code-line-color;
      padding: 0.2em 0.5em;
      margin-right: .5em;
    }
  }
  table {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
    td,th {
      padding: 10px 30px;
      border: 1px solid $table-border;
    }
    tbody tr {
      background-color: $table-background;
      &:nth-child(odd) {
        background-color: $table-background-odd;
      }
    }
  }
  blockquote {
    margin-top: 10px;
    font-size: 14px;
    color: $brief;
    line-height: 20px;
    padding: 0 10px;
    p {
      margin: 10px 0;
      padding: 0;
    }
  }
}